@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

.error {
  color: red;
}
.nav-icon {
  width: 50px;
}

.item-navbar {
  margin-right: 3em;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #157347 !important;
}

@media only screen and (max-width: 844px) {
  .nav-icon {
    width: 50px;
  }
  .fixed-on-bottom {
    position: fixed;
    bottom: 0 !important;
    overflow: hidden;
  }
}
