/* laptop */
@media only screen and (max-width: 1280px) {
  .not-found-button {
    margin-left: 24.7em;
    width: 20em !important;
    margin-right: 10em;
    position: relative;
  }
  .img {
    margin-left: 25em;
    position: absolute;
    margin-top: 100px;
  }
  .notfound-title {
    font-size: 200;
    margin-left: 10em;
    position: absolute;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 844px) {
  .not-found-button {
    margin-left: 60px;
    width: 15em !important;
  }
  .img {
    position: relative;
    margin-left: 25px;
    margin-top: 120px;
  }
  .notfound-title {
    font-size: 200;
    margin-left: 65px;
    position: absolute;
    margin-top: 120px;
  }
}
